<% include partials/header %>

<div class="container">

    <div class="poster">
        <h1> <%=  movie["Title"] %> - <%= movie["Year"]%> </h1>
        <img src= "<%= movie['Poster'] %>"> 
    </div>

    <div class="details">
        <p> <%= movie["Plot"] %> </p>
        <p> Starring: <%= movie["Actors"] %> </p>
    </div>
</div>


<button type="button" onClick="javascript:history.go(-1)">Back to Search Results</button>

<% include partials/footer %>